If:
  PathMatch: bin/trxctl/.*\.c

CompileFlags:
  Add: [-I, ../../external/mit/lua/src]

---

If:
  PathMatch: sbin/trxd/.*\.c

CompileFlags:
  Add: [-I, ../../external/mit/lua/src, -D, _GNU_SOURCE]
