If:
  PathMatch: bin/trxctl/.*\.c

CompileFlags:
  Add: [-I, ../../external/mit/lua/src, -I, ../../lib/libtrx-control]

---

If:
  PathMatch: bin/xqrg/.*\.c

CompileFlags:
  Add: [-I, ../../external/mit/lua/src, -I, ../../lib/libtrx-control]

---

If:
  PathMatch: sbin/trxd/.*\.c

CompileFlags:
  Add: [-I, ../../external/mit/lua/src,  -I, ../../lib/libtrx-control, -D, _GNU_SOURCE]
