SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", \
	ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", \
	ENV{ID_USB_INTERFACE_NUM}=="00", MODE:="0666", SYMLINK+="ft-710-cat-1"

SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", \
	ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", \
	ENV{ID_USB_INTERFACE_NUM}=="01", MODE:="0666", SYMLINK+="ft-710-cat-2"
